<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MouseInfo.Properties.Settings>
            <setting name="LeftClicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightClicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseWheel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPSOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Divisor" serializeAs="String">
                <value>275</value>
            </setting>
            <setting name="Calibrated" serializeAs="String">
                <value>False</value>
            </setting>
        </MouseInfo.Properties.Settings>
    </userSettings>
</configuration>